<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="quelltextfabrik.gymlog"
      android:versionCode="1"
      android:versionName="1.0">
    <application
    	android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar"
    	android:icon="@drawable/ic_launcher_gymlog"
    	>
        <activity
        	android:name=".Gymlog"            android:label="@string/app_name"
			android:screenOrientation="portrait"
			>
            <intent-filter>
                <action
                	android:name="android.intent.action.MAIN"
                	/>
                <category
                	android:name="android.intent.category.LAUNCHER"
                	/>
            </intent-filter>
        </activity>
        <activity
        	android:name=".Setup"
			android:screenOrientation="portrait" />
        <activity
        	android:name=".SetupBody"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".SetupSchedule"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".Benchmark"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".ChooseExercise"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".ChooseWorkout"
            android:screenOrientation="portrait" />
        
        <activity
        	android:name=".ProgramList"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".WorkoutList"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".ExerciseList"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".Exercise"
            android:screenOrientation="portrait" /> 
        <activity
        	android:name=".WholeWorkout"
            android:screenOrientation="portrait" />  
        
        <activity
        	android:name=".LoadLog"
            android:screenOrientation="portrait" />
        <activity
        	android:name=".SessionList"
            android:screenOrientation="portrait" />      
    </application>
	<uses-sdk>8</uses-sdk>
</manifest> 